img {
  width: 50px;
}

.langs {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    width: 180px;
    border-radius: var(--mainBorderRadius);
    padding: 0 15px;
    background-color: #efefef;
    transition: background-color .5s;

    &:hover {
      background-color: #bbbbbb;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & p {
      margin-left: 10px;
    }
  }
}

.activeItem {
  background-color: #ccc;
}
